{
    "command": "/usr/sbin/httpd -DFOREGROUND -f {{ container_config_directory }}/httpd.conf",
    "config_files_DISABLED_BY_WILL": [
         {
            "source": "{{ container_config_directory }}/httpd.conf",
            "dest": "/etc/httpd/conf/httpd.conf",
            "owner": "root",
            "perm": "0644"
        }
    ]
}
